terraform {
  backend "s3" {
    bucket = "__STATE_BUCKET_NAME__"
    encrypt = true
    key    = "poc/flask-prod-docker/terraform.tfstate"
    dynamodb_table = "__DYNAMODB_TABLE_NAME__"
    region = "us-east-1"
  }
}